* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: black;
}

/* Gift task start */

.container {
  max-width: 600px;
  width: 100%;
  height: 500px;
  background: #ac474b;
  margin: 100px auto;
}

.gift__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.gift__wrapper__header {
  display: flex;
}

.left,
.right {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50% 50% 50% 0;
}

.right {
  position: relative;
}

.left {
  position: relative;
  transform: rotate(-90deg);
}

.left__item,
.right__item {
  width: 40px;
  height: 40px;
  background: #ac474b;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.gift__wrapper__items {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.gift__item {
  width: 100px;
  height: 100px;
  background: white;
}

/* Gift task end */

/* Bell task start */

.bell_container {
  max-width: 600px;
  width: 100%;
  height: 500px;
  background: #191919;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -2;
}

.bell {
  width: 200px;
  height: 200px;
  background: #e08027;
  border-radius: 50% 50% 20px 20px;
  position: relative;
}

.bell__circle,
.bell__top__circle {
  width: 80px;
  height: 70px;
  background: #824b20;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 170px;
  left: 60px;
  z-index: -1;
}

.bell__top__circle {
  position: absolute;
  top: -30px;
  background: #f2ad43;
  border-radius: 50% 50% 0 0;
}

/* Bell task end */

/* Stairway task start */

.stairway__container {
  max-width: 700px;
  width: 100%;
  height: 600px;
  background: #191919;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stairway {
  width: 260px;
  height: 400px;
  background: #4f77ff;
  border-radius: 200px 200px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}

.stair {
  width: 80%;
  height: 55px;
  background: #191919;
}

.stair:nth-child(1) {
  width: 20%;
}
.stair:nth-child(2) {
  width: 40%;
}
.stair:nth-child(3) {
  width: 60%;
}

/* Stairway task end */

/* Login form task start */

.login__form__container {
  max-width: 1300px;
  width: 100%;
  height: 750px;
  background: #7c2ae8;
  margin: 50px auto;
}

.login__form__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__form {
  width: 45%;
  height: 650px;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.form__title h1 {
  font-family: sans-serif;
}

.form__title .line {
  width: 35px;
  height: 3px;
  background: #693fab;
}

form {
  width: 100%;
  height: 100%;
  background: white;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form__section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form__section span {
  padding-left: 10px;
}

i {
  font-size: 23px;
  color: #833ed5;
}

a {
  text-decoration: none;
  color: #833ed5;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
}

.form__section__email,
.form__section__password label {
  color: gray;
  font-family: sans-serif;
  font-size: 18px;
}

.form__section__email label input {
  width: 90%;
  height: 30px;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  font-size: 18px;
}

.form__section__password label input {
  width: 90%;
  height: 30px;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  font-size: 18px;
}

.form__footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form__footer button {
  width: 90%;
  height: 60px;
  background: #7c2ae8;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.form__footer p {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  padding-right: 50px;
}

.form__footer p a {
  padding-left: 5px;
}

.login__form__image {
  width: 45%;
  height: 654px;
}

.login__form__image img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

/* Login form task end*/
