* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: black;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

/* Gift task start */

.container {
  max-width: 600px;
  width: 100%;
  height: 500px;
  background: #ac474b;
  margin: 100px auto;
}

.gift__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.gift__wrapper__header {
  display: flex;
}

.left,
.right {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50% 50% 50% 0;
}

.right {
  position: relative;
}

.left {
  position: relative;
  transform: rotate(-90deg);
}

.left__item,
.right__item {
  width: 40px;
  height: 40px;
  background: #ac474b;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.gift__wrapper__items {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.gift__item {
  width: 100px;
  height: 100px;
  background: white;
}

/* Gift task end */

/* Bell task start */

.bell_container {
  max-width: 600px;
  width: 100%;
  height: 500px;
  background: #191919;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -2;
}

.bell {
  width: 200px;
  height: 200px;
  background: #e08027;
  border-radius: 50% 50% 20px 20px;
  position: relative;
}

.bell__circle,
.bell__top__circle {
  width: 80px;
  height: 70px;
  background: #824b20;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 170px;
  left: 60px;
  z-index: -1;
}

.bell__top__circle {
  position: absolute;
  top: -30px;
  background: #f2ad43;
  border-radius: 50% 50% 0 0;
}

/* Bell task end */

/* Stairway task start */

.stairway__container {
  max-width: 700px;
  width: 100%;
  height: 600px;
  background: #191919;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stairway {
  width: 260px;
  height: 400px;
  background: #4f77ff;
  border-radius: 200px 200px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}

.stair {
  width: 80%;
  height: 55px;
  background: #191919;
}

.stair:nth-child(1) {
  width: 20%;
}
.stair:nth-child(2) {
  width: 40%;
}
.stair:nth-child(3) {
  width: 60%;
}

/* Stairway task start */
